option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: EcoGive.wsgi:application
  aws:elasticbeanstalk:application:environment:
    MAILJET_API_KEY: "833c18a31a0ddc0128efd9d8e5d60769"
    MAILJET_API_SECRET: "39c82fabe159509ce1c14413a5a1557a"
    EMAIL_HOST_USER: "freediethefox2019@gmail.com"
    EMAIL_HOST_PASSWORD: "password"
