option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: EcoGive.wsgi:application
  aws:elasticbeanstalk:application:environment:
    MAILJET_API_KEY: "833c18a31a0ddc0128efd9d8e5d60769"
    MAILJET_API_SECRET: "39c82fabe159509ce1c14413a5a1557a"
    EMAIL_HOST_USER: "freediethefox2019@gmail.com"
    EMAIL_HOST_PASSWORD: "password"
    AWS_STORAGE_BUCKET_NAME: "x23340355-ecogive"
    SECRET_KEY: 'django-insecure-7%k)n24ayo%q-+wk4*w+a*lgf+jja8hm-qp=y+-%fz##d-51_e'
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static/
